a:link {
  color: orange;
  text-decoration: none;
}

a:active {
  color: blue;
  text-decoration: none;
}

.topStyle {
  width: 100%;
}

span.topStyle {
  width: 100%;
}

.parallel {
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.imageCircle {
  border-radius: 50%;
  border: 4px;
  border-color: blue;
}

.centerLeft {
  text-align: center;
  justify-content: center;
  font-size: 120%;
  margin: 15px;
  padding: 15px;
  flex: 1;
}

.centerRight {
  text-align: center;
  justify-content: center;
  font-size: 120%;
  margin: 15px;
  padding: 15px;
  flex: 1.5;
}

.centerRight h2 {
  font-size: 200%;
}

.spanTop {
  display: table;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 65%;
  table-layout: fixed; /* For cells of equal size */
  font-size: 130%;
}

.spanTop a {
  display: table-cell;
  text-align: center;
  color: grey;
}

.vl {
  border-left: 3px solid rgb(68, 94, 199);
  height: 600px;
}

.tableStyle {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  height: 30%;
  font-size: 120%;
}

li {
  list-style-type: none;
  position: relative; /* It's needed for setting position to absolute in the next rule. */
  font-size: 160%;
  text-align: left;
  padding: 3%;
}

li::before {
  content: "!";
  position: absolute;
  left: -5%; /* Adjust this value so that it appears where you want. */
  font-size: 160%; /* Adjust this value so that it appears what size you want. */
}

ul.centerUl {
  display: inline-block;
  text-align: left;
}
